$background-color: white;
$header-color: #f9f9f9;

.io-ml {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  background: $header-color;
}

.io-ml__container {
  height: 2000px;
  margin-left: 20%;
  width: 100%;
  background: $background-color;
} 

.io-ml__header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  flex: 0 0 20%;
  max-width: 20%;
  width: 100%;
  height: 100%;
  background: transparent;

  div {
    padding: 5px 45px 5px 5px;

    input {
      width: 100%;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: block;
    height: 100%;
    width: 40px;
    background: $background-color;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
}