@import '../../../styles/abstracts/variables';

.io-userprofile {
  display: flex;
  flex-direction: row;

  .io-userprofile__card {
    display: flex;
    flex-direction: column;
    background: $header-color;
    padding: $container-border-width;
    border-radius: $container-border-width;
    width: fit-content;
    align-items: center;

    .io-userprofile__card-image {
      position: relative;
      img {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
    .io-userprofile__card-image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $primary;
      opacity: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      color: white;
    }
  }
}
